@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.float__whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 2999;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 50px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 75px;
    height: 75px;
  }
  .float__whatsapp img {
    width: 50px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  z-index: 3000;
  width: 100%;
  top: 0;
  left: 0;
}
.page__header .wrapper {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 44px 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__header .wrapper .logo {
  width: 250px;
  margin-bottom: 8px;
}
.page__header .wrapper .logo .link__logo img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 853px;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  gap: 30px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 600;
  transition: all linear 0.15s;
  color: #F0F8FF;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #A3D2F9;
}
.page__header .wrapper .is--desktop .button {
  width: 227px;
  background-color: #259DFF;
  color: #F0F8FF;
  text-transform: uppercase;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 14px 32px;
  box-shadow: 4px 6px 7px rgba(48, 48, 48, 0.1);
  transition: all linear 0.15s;
}
.page__header .wrapper .is--desktop .button:hover {
  color: #F0F8FF;
  box-shadow: 0 0 20px rgba(240, 248, 255, 0.3);
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .page__header .wrapper {
    padding: 24px 29px 0 30px;
  }
  .page__header .wrapper .logo {
    width: 167px;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
  .page__header .wrapper .is--mobile {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-color: #0A447F;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    align-items: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 10px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #F0F8FF;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a:hover {
    color: #A3D2F9;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .button {
    width: 227px;
    background-color: #259DFF;
    color: #F0F8FF;
    text-transform: uppercase;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 14px 32px;
    transition: all linear 0.15s;
    box-shadow: 4px 6px 7px rgba(48, 48, 48, 0.1);
    margin-bottom: 24px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .button:hover {
    color: #F0F8FF;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .btn__whats {
    width: 326px;
    background-image: linear-gradient(to right, #131313 0%, #090D32 9%, #259DFF 100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 40px;
    color: #F0F8FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    box-shadow: 4px 6px 7px rgba(48, 48, 48, 0.1);
    transition: all linear 0.15s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .btn__whats:hover {
    color: #F0F8FF;
  }
}
.page__banner {
  background-image: url('../img/bg-banner.png'), linear-gradient(to bottom, #477AD8 0%, #3A62AA 30%, #0F0F14 100%);
  background-repeat: no-repeat;
  background-position: bottom 0 right 80px, top 0 left 0;
}
.page__banner .wrapper {
  max-width: 650px;
  margin-left: 10%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 274px;
  padding-bottom: 207px;
}
.page__banner .wrapper .title {
  color: #F0F8FF;
  font-size: 52px;
  font-weight: 500;
  line-height: 116%;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.page__banner .wrapper .title span {
  font-weight: 700;
}
.page__banner .wrapper .description {
  font-size: 20px;
  color: #F0F8FF;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 538px;
  margin-bottom: 38px;
}
.page__banner .wrapper .description span {
  font-weight: 700;
}
.page__banner .wrapper .button {
  width: 258px;
  border: 2px solid #F0F8FF;
  border-radius: 30px;
  padding: 14px 60px;
  color: #F0F8FF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  transition: all linear 0.15s;
}
.page__banner .wrapper .button:hover {
  background-color: #0184FE;
  color: #F0F8FF;
}
@media (max-width: 1200px) {
  .page__banner {
    background-image: url('../img/bg-banner-mobile.png'), linear-gradient(to bottom, #477AD8 0%, #3A62AA 30%, #0F0F14 100%);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0, top 0 left 0;
  }
  .page__banner .wrapper {
    padding-top: 134px;
    padding-bottom: 442px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 0;
  }
  .page__banner .wrapper .title {
    text-align: center;
    font-size: 30px;
  }
  .page__banner .wrapper .description {
    text-align: center;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 17px;
    margin-bottom: 32px;
  }
  .page__banner .wrapper .button {
    margin-left: auto;
    margin-right: auto;
  }
}
.page__numbers {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #E4EBFF;
}
.page__numbers .wrapper {
  max-width: 1152px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.page__numbers .wrapper .info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__numbers .wrapper .info__box .number {
  font-size: 64px;
  font-weight: 900;
  background: linear-gradient(to bottom, #0184FE, #0A447F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 62px;
  display: inline-block;
}
.page__numbers .wrapper .info__box .info {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  text-align: center;
}
@media (max-width: 1200px) {
  .page__numbers .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .page__numbers .wrapper .info__box {
    max-width: 250px;
  }
}
.page__functions {
  padding-top: 100px;
  padding-bottom: 105px;
}
.page__functions .wrapper {
  max-width: 1238px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__functions .wrapper .title {
  font-size: 52px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 8px;
  text-align: center;
  position: relative;
}
.page__functions .wrapper .title .icon__title {
  position: absolute;
  top: -10px;
  right: -58px;
}
.page__functions .wrapper .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  text-align: center;
  margin-bottom: 99px;
}
.page__functions .wrapper .subtitle span {
  font-weight: 600;
}
.page__functions .wrapper .shell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.page__functions .wrapper .shell .content {
  width: 578px;
}
.page__functions .wrapper .shell .content .content__title {
  font-size: 42px;
  font-weight: 600;
  color: #222;
  line-height: 129%;
  margin-bottom: 16px;
}
.page__functions .wrapper .shell .content .content__title span {
  color: #0184FE;
}
.page__functions .wrapper .shell .content .content__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 32px;
  color: #222;
}
.page__functions .wrapper .shell .content .content__subtitle span {
  font-weight: 600;
}
.page__functions .wrapper .shell .content .functions__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 42px;
}
.page__functions .wrapper .shell .content .functions__list .item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page__functions .wrapper .shell .content .functions__list .item .icon {
  width: fit-content;
}
.page__functions .wrapper .shell .content .functions__list .item .text {
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
.page__functions .wrapper .shell .content .functions__list .item .text span {
  font-weight: 600;
}
.page__functions .wrapper .shell .content .button {
  width: 326px;
  background-image: linear-gradient(to right, #131313 0%, #090D32 9%, #259DFF 100%);
  box-shadow: 4px 6px 7px rgba(48, 48, 48, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 14px 70px;
  text-transform: uppercase;
  color: #F0F8FF;
  transition: all linear 0.15s;
}
.page__functions .wrapper .shell .content .button:hover {
  box-shadow: 4px 6px 25px rgba(48, 48, 48, 0.5);
  color: #F0F8FF;
  cursor: pointer;
}
.page__functions .wrapper .shell.shell-1 {
  padding-bottom: 96px;
}
.page__functions .wrapper .shell.shell-2 {
  padding-top: 56px;
  padding-bottom: 100px;
}
.page__functions .wrapper .shell.shell-3 {
  padding-top: 32px;
}
@media (max-width: 1200px) {
  .page__functions {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__functions .wrapper .title {
    font-size: 32px;
  }
  .page__functions .wrapper .title .icon__title {
    width: 30px;
    top: -10px;
    right: -32px;
  }
  .page__functions .wrapper .subtitle {
    margin-bottom: 42px;
  }
  .page__functions .wrapper .shell {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }
  .page__functions .wrapper .shell.shell-1 {
    padding-bottom: 64px;
  }
  .page__functions .wrapper .shell.shell-2 {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 64px;
  }
  .page__functions .wrapper .shell.shell-3 {
    padding: 0;
  }
  .page__functions .wrapper .shell .content {
    width: 100%;
    text-align: center;
  }
  .page__functions .wrapper .shell .content .content__title {
    font-size: 36px;
    line-height: 120%;
  }
  .page__functions .wrapper .shell .content .content__subtitle {
    font-size: 18px;
    line-height: 135%;
  }
  .page__functions .wrapper .shell .content .functions__list .item {
    text-align: left;
  }
  .page__functions .wrapper .shell .cover {
    width: 100%;
  }
}
.page__benefits {
  padding-top: 100px;
  padding-bottom: 126px;
  background-image: linear-gradient(to bottom, #090D32, #0184FE);
  background-repeat: no-repeat;
  background-size: 100% 405px;
}
.page__benefits .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__benefits .wrapper .title {
  width: fit-content;
  font-size: 52px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 8px;
  text-align: center;
  position: relative;
}
.page__benefits .wrapper .title .icon__title {
  position: absolute;
  top: -10px;
  right: -58px;
}
.page__benefits .wrapper .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin-bottom: 66px;
}
.page__benefits .wrapper .subtitle span {
  font-weight: 600;
}
.page__benefits .wrapper .cards--desktop {
  max-width: 1220px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.page__benefits .wrapper .cards--desktop .benefit__card {
  width: 258px;
  height: 242px;
  border: 1px solid #C0C0C0;
  border-radius: 20px;
  background-color: #FFF;
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 25px rgba(34, 34, 34, 0.15);
}
.page__benefits .wrapper .cards--desktop .benefit__card .card__icon {
  width: fit-content;
  margin-bottom: 8px;
}
.page__benefits .wrapper .cards--desktop .benefit__card .card__title {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  text-align: center;
  margin-bottom: 12px;
}
.page__benefits .wrapper .cards--desktop .benefit__card .card__text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.page__benefits .wrapper .cards--mobile {
  display: none;
}
@media (max-width: 1200px) {
  .page__benefits {
    padding-top: 66px;
    padding-bottom: 80px;
    background-size: 100% 320px;
  }
  .page__benefits .wrapper .title {
    font-size: 32px;
  }
  .page__benefits .wrapper .title .icon__title {
    width: 30px;
    top: -10px;
    right: -32px;
  }
  .page__benefits .wrapper .subtitle {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 42px;
  }
  .page__benefits .wrapper .cards--desktop {
    display: none;
  }
  .page__benefits .wrapper .cards--mobile {
    display: block;
    width: 100%;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .owl-dots .owl-dot {
    height: 8px !important;
    display: flex;
    align-items: center;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .owl-dots .owl-dot span {
    margin: 0;
    width: 8px;
    height: 8px;
    background-color: #8c9091;
    border-radius: 100%;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .owl-dots .owl-dot.active span {
    background-color: #0184FE;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .owl-dots.disabled {
    display: none;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .benefit__card {
    width: 258px;
    height: 242px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    background-color: #FFF;
    padding: 28px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 25px rgba(34, 34, 34, 0.15);
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .benefit__card .card__icon {
    width: fit-content;
    margin-bottom: 8px;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .benefit__card .card__title {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    text-align: center;
    margin-bottom: 12px;
  }
  .page__benefits .wrapper .cards--mobile .owl-carousel.owl-theme.benefits__carousel .benefit__card .card__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
.page__plans {
  padding-top: 90px;
  padding-bottom: 142px;
  background-image: url('../img/bg-plans.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__plans .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__plans .wrapper .title {
  width: fit-content;
  font-size: 52px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 8px;
  text-align: center;
  position: relative;
}
.page__plans .wrapper .title .icon__title {
  position: absolute;
  top: -10px;
  right: -58px;
}
.page__plans .wrapper .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin-bottom: 71px;
}
.page__plans .wrapper .subtitle span {
  font-weight: 600;
}
.page__plans .wrapper .plans__cards {
  display: flex;
  justify-content: center;
  gap: 84px;
}
.page__plans .wrapper .plans__cards .plan__card {
  position: relative;
  width: 328px;
  height: 674px;
}
.page__plans .wrapper .plans__cards .plan__card .card__title {
  position: absolute;
  width: 226px;
  left: calc(50% - 113px);
  top: 0;
  background-image: linear-gradient(38deg, #131313 1%, #000 26%, #0184FE 100%);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 7px;
  z-index: 2;
}
.page__plans .wrapper .plans__cards .plan__card .card__title h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F0F8FF;
  text-align: center;
}
.page__plans .wrapper .plans__cards .plan__card .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 32px 48px 32px;
  margin-top: 23px;
  position: relative;
  background: transparent;
  border-radius: 20px;
  text-align: center;
  color: white;
  z-index: 1;
  /* Mantém o conteúdo acima do fundo */
  margin-bottom: 8px;
}
.page__plans .wrapper .plans__cards .plan__card .card__content::before {
  content: "";
  position: absolute;
  inset: -4px;
  /* Expande a borda para fora */
  border-radius: 24px;
  padding: 4px;
  /* Define a largura da borda */
  background: linear-gradient(to bottom, #fff, #259dff2a);
  /* Gradiente da borda */
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price .value {
  display: flex;
  gap: 4px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  color: #FFF;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price .value .coin {
  align-self: flex-start;
  font-size: 14px;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price .value .number {
  font-size: 96px;
  line-height: 75%;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price .value .cents {
  font-size: 16px;
  align-self: flex-end;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .price .info {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .list .item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  text-align: left;
}
.page__plans .wrapper .plans__cards .plan__card .card__content .list .item .icon {
  margin-top: 1px;
}
.page__plans .wrapper .plans__cards .plan__card .description {
  display: block;
  background-color: #131313;
  border-radius: 20px;
  padding: 12px 14px 12px 14px;
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  line-height: 132%;
  text-align: center;
}
.page__plans .wrapper .plans__cards .plan__card .description.last {
  font-size: 22px;
}
.page__plans .wrapper .plans__cards .plan__card.highlight .card__title {
  background: #F0F8FF;
}
.page__plans .wrapper .plans__cards .plan__card.highlight .card__title h3 {
  background-image: linear-gradient(to right, #131313 1%, #000 16%, #0184FE 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page__plans .wrapper .plans__cards .plan__card.highlight .card__content {
  background-color: #131313;
}
@media (max-width: 1200px) {
  .page__plans {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__plans .wrapper .title {
    font-size: 42px;
  }
  .page__plans .wrapper .title .icon__title {
    width: 32px;
    top: -10px;
    right: -36px;
  }
  .page__plans .wrapper .subtitle {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page__plans .wrapper .plans__cards {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
}
.page__faq {
  padding-top: 100px;
  padding-bottom: 128px;
}
.page__faq .wrapper {
  max-width: 1036px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__faq .wrapper .title {
  font-size: 52px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
}
.page__faq .wrapper .title .icon__title {
  position: absolute;
  top: -10px;
  right: -58px;
}
.page__faq .wrapper .faq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.page__faq .wrapper .faq details {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 10px 10px 25px rgba(34, 34, 34, 0.15);
  padding: 32px 120px 30px 60px;
  width: 100%;
  background-image: url('../img/icon-plus.svg');
  background-repeat: no-repeat;
  background-position: right 60px top 28px;
}
.page__faq .wrapper .faq details[open] {
  background-image: url('../img/icon-minus.svg');
}
.page__faq .wrapper .faq details .question {
  color: #0A447F;
  font-size: 18px;
  font-weight: 600;
  list-style: none;
}
.page__faq .wrapper .faq details .answer {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .page__faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__faq .wrapper .title {
    font-size: 42px;
    margin-bottom: 50px;
  }
  .page__faq .wrapper .title .icon__title {
    width: 40px;
    top: -10px;
    right: 0;
  }
  .page__faq .wrapper .faq details {
    padding: 32px 60px 30px 30px;
    background-position: right 30px top 28px;
  }
}
.page__testimonials {
  padding-top: 40px;
  padding-bottom: 158px;
  position: relative;
}
.page__testimonials .bg-blue {
  background-color: #0D5BA9;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 0;
  height: 317px;
  width: 1043px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page__testimonials .bg-black {
  background-color: #131313;
  position: absolute;
  top: 125px;
  right: 0;
  z-index: -1;
  height: 284px;
  width: 821px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.page__testimonials .wrapper {
  position: relative;
  z-index: 2;
  max-width: 1240px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 112px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.page__testimonials .wrapper .heading {
  width: 342px;
}
.page__testimonials .wrapper .heading .title {
  font-size: 42px;
  font-weight: 700;
  color: #F0F8FF;
  margin-bottom: 8px;
  position: relative;
  width: fit-content;
}
.page__testimonials .wrapper .heading .title .icon__title {
  position: absolute;
  width: 40px;
  top: -10px;
  right: -48px;
}
.page__testimonials .wrapper .heading .subtitle {
  font-size: 20px;
  color: #F0F8FF;
  font-weight: 400;
}
.page__testimonials .wrapper .testimonials {
  display: flex;
  gap: 32px;
  width: 796px;
}
.page__testimonials .wrapper .testimonials .card__testimonial {
  width: 50%;
  position: relative;
  border: 1px solid #C7C8CA;
  border-radius: 5px;
  background-color: #FFF;
  padding: 60px 36px 36px 36px;
  box-shadow: 10px 10px 25px rgba(34, 34, 34, 0.15);
}
.page__testimonials .wrapper .testimonials .card__testimonial .quotes {
  position: absolute;
  left: 30px;
  top: -45px;
}
.page__testimonials .wrapper .testimonials .card__testimonial .card__text {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin-bottom: 24px;
}
.page__testimonials .wrapper .testimonials .card__testimonial .card__name {
  font-size: 18px;
  font-weight: 700;
  color: #131313;
}
@media (max-width: 1200px) {
  .page__testimonials {
    padding-bottom: 60px;
  }
  .page__testimonials .bg-blue {
    width: 100%;
    border-radius: 0;
  }
  .page__testimonials .bg-black {
    display: none;
  }
  .page__testimonials .wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .page__testimonials .wrapper .heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page__testimonials .wrapper .heading .title {
    text-align: center;
    font-size: 32px;
  }
  .page__testimonials .wrapper .heading .title .icon__title {
    text-align: center;
    width: 30px;
    top: -10px;
    right: -32px;
  }
  .page__testimonials .wrapper .testimonials {
    flex-direction: column;
    gap: 62px;
    width: 100%;
  }
  .page__testimonials .wrapper .testimonials .card__testimonial {
    width: 100%;
  }
}
body {
  background-color: #F8FCFF;
  font-family: "Poppins", sans serif;
  color: #222222;
}
