@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.float__whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 2999;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 50px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 75px;
    height: 75px;
  }
  .float__whatsapp img {
    width: 50px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  z-index: 3000;
  width: 100%;
  top: 0;
  left: 0;
}
.page__header .wrapper {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 44px 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__header .wrapper .logo {
  width: 250px;
  margin-bottom: 8px;
}
.page__header .wrapper .logo .link__logo img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 853px;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  gap: 30px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 600;
  transition: all linear 0.15s;
  color: #F0F8FF;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #A3D2F9;
}
.page__header .wrapper .is--desktop .button {
  width: 227px;
  background-color: #259DFF;
  color: #F0F8FF;
  text-transform: uppercase;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 14px 32px;
  transition: all linear 0.15s;
}
.page__header .wrapper .is--desktop .button:hover {
  color: #F0F8FF;
  box-shadow: 0 0 35px rgba(240, 248, 255, 0.3);
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .page__header {
    padding-top: 24px;
  }
  .page__header .wrapper .logo {
    width: 167px;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
  .page__header .wrapper .is--mobile {
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-color: #0A447F;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    align-items: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 10px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #F0F8FF;
  }
}
.page__banner {
  background-image: url('../img/bg-banner.png'), linear-gradient(to bottom, #477AD8 0%, #3A62AA 30%, #0F0F14 100%);
  background-repeat: no-repeat;
  background-position: bottom 0 right 80px, top 0 left 0;
}
.page__banner .wrapper {
  max-width: 650px;
  margin-left: 10%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 274px;
  padding-bottom: 207px;
}
.page__banner .wrapper .title {
  color: #F0F8FF;
  font-size: 52px;
  font-weight: 500;
  line-height: 116%;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.page__banner .wrapper .title span {
  font-weight: 700;
}
.page__banner .wrapper .description {
  font-size: 20px;
  color: #F0F8FF;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 538px;
  margin-bottom: 38px;
}
.page__banner .wrapper .description span {
  font-weight: 700;
}
.page__banner .wrapper .button {
  width: 258px;
  border: 2px solid #F0F8FF;
  border-radius: 30px;
  padding: 14px 60px;
  color: #F0F8FF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  transition: all linear 0.15s;
}
.page__banner .wrapper .button:hover {
  background-color: #0184FE;
  color: #F0F8FF;
}
body {
  background-color: #F8FCFF;
  font-family: "Poppins", sans serif;
  color: #222222;
}
