@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHRiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLt_QiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLrPQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLl_XiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLmbXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLijXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbGmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYaammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZtammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64RgL5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64ZgK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64UYK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64RgK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64SoK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64cYN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64f8N5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64ZgN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64bEN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyo_BJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUyovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyXsovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWAovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVspfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVVpfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUypfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUbpfBJ.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.float__whatsapp {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 74px;
  height: 74px;
  background-color: #5BBC48;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 2999;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 5px;
}
.float__whatsapp img {
  width: 55px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(202deg) brightness(106%) contrast(101%);
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.2);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(10%) saturate(2974%) hue-rotate(64deg) brightness(99%) contrast(75%);
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  z-index: 3000;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
}
.page__header .wrapper {
  padding: 16px 20px;
  background-color: #242423;
  margin-left: 20px;
  margin-right: 20px;
}
.page__header .wrapper .logo {
  width: 119px;
}
.page__header .wrapper .logo a {
  width: 100%;
}
.page__header .wrapper .logo a img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: none;
}
.page__header .wrapper .is--mobile {
  flex-grow: 0;
}
.page__header .wrapper .is--mobile .navbar__hamburguer {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}
.page__header .wrapper .is--mobile .navbar__overlay {
  background-color: #242423;
  z-index: 3001;
  display: none;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: effect--fade_in_right;
}
.page__header .wrapper .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
  display: flex;
  align-items: flex-end;
  margin: 30px 30px 109px 30px;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
  width: fit-content;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
  gap: 10px;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #F5F5F5;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .btn__whats {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #F5F5F5;
  font: 400 16px "Roboto", sans serif;
  color: #F5F5F5;
  line-height: 116%;
  letter-spacing: 2px;
  padding: 12px 34px;
  transition: all linear 0.15s;
  margin-top: 32px;
  border-radius: 5px;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .btn__whats .icon {
  width: fit-content;
}
.page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .btn__whats:hover {
  background-color: rgba(245, 245, 245, 0.1);
  color: #F5F5F5;
}
@media screen and (min-width: 1200px) {
  .page__header {
    padding-top: 24px;
  }
  .page__header .wrapper {
    max-width: 1215px;
    padding: 18px 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .page__header .wrapper .logo {
    width: 161px;
  }
  .page__header .wrapper .is--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 736px;
  }
  .page__header .wrapper .is--desktop .links {
    display: flex;
    gap: 30px;
  }
  .page__header .wrapper .is--desktop .links a {
    font-size: 16px;
    font-weight: 500;
    transition: all linear 0.15s;
    color: #F5F5F5;
  }
  .page__header .wrapper .is--desktop .links a:hover {
    cursor: pointer;
    color: #F1991D;
  }
  .page__header .wrapper .is--desktop .btn__whats {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #F5F5F5;
    font: 400 16px "Roboto", sans serif;
    color: #F5F5F5;
    line-height: 116%;
    letter-spacing: 2px;
    padding: 12px 34px;
    transition: all linear 0.15s;
    border-radius: 5px;
  }
  .page__header .wrapper .is--desktop .btn__whats .icon {
    width: fit-content;
  }
  .page__header .wrapper .is--desktop .btn__whats:hover {
    background-color: rgba(245, 245, 245, 0.1);
    color: #F5F5F5;
  }
  .page__header .wrapper .is--mobile {
    display: none;
  }
}
.page__banner {
  background-image: url('../img/bg-banner-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -4px top 0;
}
.page__banner .wrapper {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 254px;
  padding-bottom: 50px;
}
.page__banner .wrapper .content {
  max-width: 475px;
  margin-bottom: 100px;
}
.page__banner .wrapper .content .title__detail {
  margin-bottom: 24px;
}
.page__banner .wrapper .content .title {
  font: 400 72px "Bebas Neue", serif;
  color: #242423;
  line-height: 94%;
  letter-spacing: -1.4px;
  margin-bottom: 16px;
}
.page__banner .wrapper .content .description {
  font: 16px 400 "Roboto", sans serif;
  color: #000;
  line-height: 127%;
  margin-bottom: 32px;
}
.page__banner .wrapper .content .button {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #F1991D;
  font: 700 16px "Roboto", sans serif;
  line-height: 116%;
  letter-spacing: 2.6px;
  color: #F5F5F5;
  padding: 11px 36px;
  transition: all linear 0.15s;
  width: fit-content;
  border-radius: 5px;
}
.page__banner .wrapper .content .button .icon {
  width: fit-content;
}
.page__banner .wrapper .content .button:hover {
  background-color: #242423;
  color: #F5F5F5;
}
.page__banner .wrapper .down {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .page__banner {
    background-image: url('../img/bg-banner-mobile.png');
    background-position: left 0 top 0;
  }
  .page__banner .wrapper {
    padding-top: 205px;
    padding-bottom: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .page__banner .wrapper .content {
    margin-bottom: 180px;
  }
  .page__banner .wrapper .content .title {
    font-size: 54px;
  }
}
.brands__scrolling {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
  background-color: #EAE4DB;
}
.brands__scrolling .do-not-overflow {
  overflow: hidden;
  padding: 52px 0;
}
.brands__scrolling .do-not-overflow .ticker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
}
.brands__scrolling .do-not-overflow .ticker-container .ticker {
  display: flex;
  align-items: center;
  gap: 100px;
  animation: scroll 30s linear infinite;
}
.brands__scrolling .do-not-overflow .marquee {
  display: flex;
  align-items: center;
  gap: 10px;
  font: 400 40px "Bebas Neue", serif;
  line-height: 90%;
  color: #131312;
}
.brands__scrolling .do-not-overflow .marquee .icon {
  margin-bottom: 8px;
}
@media (max-width: 1200px) {
  .brands__scrolling .do-not-overflow {
    padding: 32px 0;
  }
  .brands__scrolling .do-not-overflow .ticker-container .ticker {
    gap: 64px;
    animation: scroll 10s linear infinite;
  }
  .brands__scrolling .do-not-overflow .marquee {
    font-size: 30px;
  }
  .brands__scrolling .do-not-overflow .marquee .icon {
    width: 30px;
    margin-bottom: 5px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.page__about {
  padding-top: 100px;
  padding-bottom: 110px;
}
.page__about .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  max-width: 1108px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 94px;
}
.page__about .wrapper .content {
  width: 462px;
}
.page__about .wrapper .content .heading {
  margin-bottom: 32px;
}
.page__about .wrapper .content .heading .title__detail {
  margin-bottom: 8px;
}
.page__about .wrapper .content .heading .title {
  font: 400 16px "Roboto", sans serif;
  line-height: 127%;
  letter-spacing: 2.2px;
  margin-bottom: 4px;
  color: #FF9500;
  text-transform: uppercase;
}
.page__about .wrapper .content .heading .subtitle {
  font: 400 64px "Bebas Neue", serif;
  color: #242423;
  line-height: 94%;
  letter-spacing: -1.3px;
}
.page__about .wrapper .content .text__highlight {
  font: 500 24px "Roboto", sans serif;
  color: #131312;
  line-height: 122%;
  margin-bottom: 32px;
}
.page__about .wrapper .content .text__highlight span {
  font-weight: 700;
}
.page__about .wrapper .content .text {
  font: 400 16px "Roboto", sans serif;
  color: #131312;
  line-height: 137%;
}
.page__about .wrapper .content .text span {
  font-weight: 700;
}
.page__about .wrapper .cover {
  max-width: 434px;
  box-shadow: 20px 20px 0 #131312;
  border-radius: 5px;
}
.page__about .wrapper__features {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  max-width: 1246px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.page__about .wrapper__features .card__feature {
  padding: 30px 42px;
  width: 50%;
}
.page__about .wrapper__features .card__feature .card__title {
  display: flex;
  align-items: center;
  gap: 29px;
  font: 700 22px "Roboto", sans serif;
  color: #F5F5F5;
  margin-bottom: 16px;
}
.page__about .wrapper__features .card__feature .card__title .icon {
  width: fit-content;
}
.page__about .wrapper__features .card__feature .text {
  font: 400 16px "Roboto", sans serif;
  color: #F5F5F5;
}
.page__about .wrapper__features .card__feature.card-1 {
  background-color: #242423;
}
.page__about .wrapper__features .card__feature.card-2 {
  background-color: #FF9500;
}
.page__about .wrapper__features .card__feature.card-2 .text {
  color: #131312;
}
@media (max-width: 1200px) {
  .page__about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__about .wrapper {
    gap: 42px;
    flex-direction: column;
    margin-bottom: 72px;
  }
  .page__about .wrapper .content {
    width: 100%;
  }
  .page__about .wrapper .content .heading .subtitle {
    font-size: 52px;
  }
  .page__about .wrapper .content .text__highlight {
    font-size: 22px;
  }
  .page__about .wrapper .cover {
    width: 90%;
  }
  .page__about .wrapper__features {
    flex-direction: column;
    gap: 32px;
  }
  .page__about .wrapper__features .card__feature {
    width: 100%;
    padding: 24px;
  }
  .page__about .wrapper__features .card__feature .card__title {
    font-size: 22px;
    gap: 16px;
  }
}
.page__cta-1 {
  padding-top: 88px;
  padding-bottom: 88px;
  background-image: url('../img/bg-cta-desktop-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #242423;
}
.page__cta-1 .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__cta-1 .wrapper .title {
  font: 400 72px "Bebas Neue", serif;
  line-height: 104%;
  letter-spacing: -1.4px;
  width: 670px;
  color: #F5F5F5;
}
.page__cta-1 .wrapper .button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 62px;
  border-radius: 5px;
  background-color: #FFF;
  line-height: 116%;
  letter-spacing: 2px;
  font: 500 16px "Roboto", sans serif;
  color: #242423;
  transition: all linear 0.15s;
}
.page__cta-1 .wrapper .button:hover {
  background-color: #FF9500;
  color: #F5F5F5;
}
@media (max-width: 1200px) {
  .page__cta-1 {
    padding-top: 105px;
    padding-bottom: 85px;
    background-image: url('../img/bg-cta-mobile-1.png');
  }
  .page__cta-1 .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }
  .page__cta-1 .wrapper .title {
    padding-left: 24px;
    width: 100%;
  }
}
.page__benefits {
  padding-top: 100px;
  padding-bottom: 135px;
  background-image: url('../img/bg-benefits-desktop.png');
  background-repeat: no-repeat;
  background-position: top 0 left -200px;
}
.page__benefits .wrapper {
  max-width: 1088px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
.page__benefits .wrapper .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 485px;
  margin-bottom: 84px;
  margin-left: auto;
  margin-right: auto;
}
.page__benefits .wrapper .heading .title__detail {
  width: fit-content;
  margin-bottom: 8px;
}
.page__benefits .wrapper .heading .title {
  font: 400 16px "Roboto", sans serif;
  line-height: 127%;
  letter-spacing: 2.2px;
  margin-bottom: 4px;
  color: #FF9500;
  text-transform: uppercase;
}
.page__benefits .wrapper .heading .subtitle {
  font: 400 64px "Bebas Neue", serif;
  color: #242423;
  line-height: 94%;
  letter-spacing: -1.3px;
  text-align: center;
}
.page__benefits .wrapper .cards__benefits {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.page__benefits .wrapper .cards__benefits .card {
  width: 224px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(19, 19, 18, 0.1), 5px 5px 0 #242423;
  border-radius: 5px;
}
.page__benefits .wrapper .cards__benefits .card .icon {
  width: 30px;
  margin-bottom: 8px;
}
.page__benefits .wrapper .cards__benefits .card .card__title {
  font: 700 24px "Roboto", sans serif;
  color: #131312;
  margin-bottom: 14px;
}
.page__benefits .wrapper .cards__benefits .card .text {
  font: 400 14px "Roboto", sans serif;
}
@media (max-width: 1200px) {
  .page__benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: none;
  }
  .page__benefits .wrapper .heading {
    width: 286px;
    margin-bottom: 32px;
  }
  .page__benefits .wrapper .heading .subtitle {
    font-size: 52px;
  }
}
.page__company {
  padding-bottom: 118px;
}
.page__company .wrapper {
  max-width: 1090px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.page__company .wrapper .content {
  width: 425px;
}
.page__company .wrapper .content .heading {
  margin-bottom: 18px;
}
.page__company .wrapper .content .heading .title__detail {
  margin-bottom: 8px;
}
.page__company .wrapper .content .heading .title {
  font: 400 16px "Roboto", sans serif;
  line-height: 127%;
  letter-spacing: 2.2px;
  margin-bottom: 12px;
  color: #FF9500;
  text-transform: uppercase;
}
.page__company .wrapper .content .heading .subtitle {
  font: 400 48px "Bebas Neue", serif;
  color: #242423;
  line-height: 94%;
}
.page__company .wrapper .content .text {
  font: 400 18px "Roboto", sans serif;
  color: #131312;
  margin-bottom: 40px;
}
.page__company .wrapper .content .text span {
  font-weight: 700;
}
.page__company .wrapper .content .features {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.page__company .wrapper .content .features .tag__feature {
  height: 70px;
  width: 200px;
  background-color: #131312;
  padding: 14px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
.page__company .wrapper .content .features .tag__feature .icon {
  width: fit-content;
}
.page__company .wrapper .content .features .tag__feature span {
  font: 700 18px "Roboto", sans serif;
  color: #FFF;
  line-height: 116%;
  letter-spacing: 1px;
}
.page__company .wrapper .cover__cta {
  position: relative;
}
.page__company .wrapper .cover__cta .card__cta {
  background-color: #131312;
  width: 402px;
  height: 185px;
  border-radius: 5px;
  padding: 24px 36px;
  position: absolute;
  bottom: -23px;
  left: 0;
}
.page__company .wrapper .cover__cta .card__cta .text {
  color: #FFF;
  font: 400 24px "Roboto Condensed", serif;
  line-height: 124%;
  margin-bottom: 25px;
}
.page__company .wrapper .cover__cta .card__cta .button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 62px;
  border-radius: 5px;
  background-color: #FFF;
  line-height: 116%;
  letter-spacing: 1.6px;
  font: 700 16px "Roboto", sans serif;
  color: #242423;
  transition: all linear 0.15s;
}
.page__company .wrapper .cover__cta .card__cta .button:hover {
  background-color: #FF9500;
  color: #F5F5F5;
}
@media (max-width: 1200px) {
  .page__company {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .page__company .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .page__company .wrapper .content {
    width: 100%;
  }
  .page__company .wrapper .content .features {
    gap: 8px;
  }
  .page__company .wrapper .content .features .tag__feature {
    padding: 14px;
    width: 158px;
  }
  .page__company .wrapper .content .features .tag__feature .icon {
    width: 26px;
  }
  .page__company .wrapper .content .features .tag__feature span {
    font-size: 16px;
    font-weight: 600;
  }
  .page__company .wrapper .cover__cta {
    width: 100%;
  }
  .page__company .wrapper .cover__cta .cover {
    width: 100%;
  }
  .page__company .wrapper .cover__cta .card__cta {
    width: 300px;
    padding: 20px;
    bottom: -72px;
  }
  .page__company .wrapper .cover__cta .card__cta .text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page__company .wrapper .cover__cta .card__cta .button {
    padding: 12px 30px;
  }
}
.page__cta-2 {
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url('../img/bg-cta-desktop-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__cta-2 .wrapper {
  max-width: 1028px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__cta-2 .wrapper .title__detail {
  width: fit-content;
  margin-bottom: 32px;
}
.page__cta-2 .wrapper .title {
  font: 400 64px "Bebas Neue", serif;
  color: #F5F5F5;
  margin-bottom: 32px;
  text-align: center;
}
.page__cta-2 .wrapper .title span {
  color: #FF9500;
}
.page__cta-2 .wrapper .description {
  font: 600 20px "Roboto", sans serif;
  color: #F5F5F5;
  margin-bottom: 68px;
  line-height: 127%;
  width: 506px;
  text-align: center;
}
.page__cta-2 .wrapper .button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 62px;
  border-radius: 5px;
  background-color: #FFF;
  line-height: 116%;
  letter-spacing: 1.6px;
  font: 700 16px "Roboto", sans serif;
  color: #242423;
  transition: all linear 0.15s;
}
.page__cta-2 .wrapper .button:hover {
  background-color: #FF9500;
  color: #F5F5F5;
}
@media (max-width: 1200px) {
  .page__cta-2 {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__cta-2 .wrapper .title {
    font-size: 48px;
  }
  .page__cta-2 .wrapper .description {
    width: 100%;
  }
}
.page__projects {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #EAE4DB;
}
.page__projects .wrapper {
  max-width: 906px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'head head button' 'video video video';
  gap: 72px;
}
.page__projects .wrapper .heading {
  grid-area: head;
}
.page__projects .wrapper .heading .title__detail {
  margin-bottom: 8px;
}
.page__projects .wrapper .heading .title {
  font: 400 16px "Roboto", sans serif;
  line-height: 127%;
  letter-spacing: 2.2px;
  margin-bottom: 12px;
  color: #FF9500;
  text-transform: uppercase;
}
.page__projects .wrapper .heading .subtitle {
  font: 400 64px "Bebas Neue", serif;
  color: #242423;
  line-height: 94%;
  letter-spacing: -1.3px;
}
.page__projects .wrapper .button {
  grid-area: button;
  background-color: #242423;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 13px 36px;
  border-radius: 5px;
  font: 400 16px "Roboto", sans serif;
  color: #F5F5F5;
  line-height: 116%;
  letter-spacing: 0.8px;
  transition: all linear 0.15s;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  align-self: self-end;
  margin-bottom: 14px;
}
.page__projects .wrapper .button:hover {
  color: #F1991D;
}
.page__projects .wrapper .links {
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.page__projects .wrapper .links .card__video {
  position: relative;
  border-radius: 5px;
  width: 237px;
  height: 313px;
  overflow: hidden;
}
.page__projects .wrapper .links .card__video .cover {
  width: 100%;
  object-fit: cover;
  transition: all linear 0.25s;
}
.page__projects .wrapper .links .card__video .caption {
  position: absolute;
  top: 70px;
  left: calc(50% - 95px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 190px;
}
.page__projects .wrapper .links .card__video .caption .title {
  font: 400 36px "Bebas Neue", serif;
  color: #F5F5F5;
  text-align: center;
}
.page__projects .wrapper .links .card__video .caption .icon {
  width: fit-content;
}
.page__projects .wrapper .links .card__video:hover .cover {
  transform: scale(1.2);
}
.page__projects .wrapper .links .card__video:hover .caption .icon {
  filter: brightness(0) saturate(100%) invert(68%) sepia(30%) saturate(1211%) hue-rotate(346deg) brightness(94%) contrast(101%);
}
@media (max-width: 1200px) {
  .page__projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page__projects .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'head' 'video' 'button';
    gap: 42px;
  }
  .page__projects .wrapper .heading {
    padding-left: 32px;
  }
  .page__projects .wrapper .links {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .page__projects .wrapper .button {
    margin-right: auto;
  }
}
.page__footer {
  margin-top: -1px;
}
.page__footer .footer__content {
  background-image: url('../img/bg-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}
.page__footer .footer__content .wrapper {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.page__footer .footer__content .wrapper .footer__links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 60px;
}
.page__footer .footer__content .wrapper .footer__links .link__logo {
  width: 200px;
}
.page__footer .footer__content .wrapper .footer__links .link__logo .logo__footer {
  width: 100%;
}
.page__footer .footer__content .wrapper .footer__links .links__social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page__footer .footer__content .wrapper .footer__links .links__social .link {
  transition: all linear 0.15s;
}
.page__footer .footer__content .wrapper .footer__links .links__social .link:hover img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(85%) saturate(3283%) hue-rotate(197deg) brightness(107%) contrast(99%);
}
.page__footer .footer__content .wrapper .footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
}
.page__footer .footer__content .wrapper .footer__nav .link__nav {
  color: #F0F8FF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all linear 0.15s;
}
.page__footer .footer__content .wrapper .footer__nav .link__nav:hover {
  color: #0184FE;
  cursor: pointer;
}
.page__footer .footer__content .wrapper .footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page__footer .footer__content .wrapper .footer__contacts .link__contact {
  display: flex;
  align-items: center;
  gap: 12px;
}
.page__footer .footer__content .wrapper .footer__contacts .link__contact .icon__contact {
  width: fit-content;
}
.page__footer .footer__content .wrapper .footer__contacts .link__contact .contact {
  color: #F0F8FF;
  font-size: 16px;
  transition: all linear 0.15s;
}
.page__footer .footer__content .wrapper .footer__contacts .link__contact .contact:hover {
  color: #0184FE;
  cursor: pointer;
}
.page__footer .footer__content .wrapper .footer__contacts .contact__info {
  color: #F0F8FF;
  font-size: 16px;
  line-height: 149%;
  text-align: center;
}
.page__footer .footer__copyrights {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #EEEDED;
}
.page__footer .footer__copyrights .wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.page__footer .footer__copyrights .wrapper .copyrights {
  line-height: 145%;
  color: #020305;
  text-align: center;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .page__footer .footer__content {
    padding-top: 148px;
    padding-bottom: 148px;
  }
  .page__footer .footer__content .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page__footer .footer__content .wrapper .footer__links {
    order: 2;
  }
  .page__footer .footer__content .wrapper .footer__links .link__logo {
    width: 280px;
  }
  .page__footer .footer__content .wrapper .footer__nav {
    order: 1;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0;
    width: 279px;
    padding-left: 140px;
  }
  .page__footer .footer__content .wrapper .footer__contacts {
    align-items: flex-start;
    width: 279px;
    order: 3;
  }
  .page__footer .footer__content .wrapper .footer__contacts .link__contact {
    gap: 20px;
  }
  .page__footer .footer__content .wrapper .footer__contacts .contact__info {
    padding-left: 41px;
    text-align: left;
  }
  .page__footer .footer__copyrights {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
body {
  background-color: #F5F5F5;
  font-family: "Roboto", sans serif;
  color: #131312;
}
