//out: false

.page__about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F0F8FF;
    overflow-y: hidden;

    .wrapper {
        max-width: 1190px;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: auto;
        margin-right: auto;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            color: #020307;
            margin-bottom: 35px;
            text-transform: uppercase;
        }

        .about__content {
            position: relative;

            .cover {
                width: 100%;
                max-width: 533px;                
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }

            .cover__detail {
                display: none;
            }

            .content {
                .about__text {
                    font-size: 16px;
                    font-weight: 400;
                    color: #020307;
                    line-height: 150%;
                    margin-bottom: 20px;
                    text-align: center;

                    span {
                       color: #0075E1;
                       font-weight: 600; 
                    }
                }

                .about__numbers {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 45px;
                    margin-bottom: 60px;
                    margin-top: 45px;

                    .number__info {
                        text-align: center;

                        .number {
                            font-size: 96px;
                            font-weight: 700;
                            color: #0184FE;
                            line-height: 110%;
                        }

                        .info {
                           font-size: 18;
                           text-transform: uppercase;
                           letter-spacing: 29%;
                           color: #020307;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 111px;
        padding-bottom: 103px;

        .wrapper {

            .title {
                font-size: 42px;
                align-items: flex-start;
                margin-bottom: 20px;
            }

            .about__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 70px;

                .cover__detail {
                    display: block;
                    position: absolute;
                    right: -42px;
                    top: -20px;
                    width: fit-content;
                }

                .content {
                    max-width: 571px;

                    .about__text {
                        font-size: 18px;
                        line-height: 160%;
                        text-align: justify;
                    }

                    .about__numbers {
                        flex-direction: row;
                        justify-content: center;
                        gap: 60px;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}