//out: false

.page__banner {
    background-image: url('../img/bg-banner.png'), linear-gradient(to bottom, #477AD8 0%, #3A62AA 30%, #0F0F14 100%);
    background-repeat: no-repeat;
    background-position: bottom 0 right 80px, top 0 left 0;
    
    .wrapper {
        max-width: 650px;
        margin-left: 10%;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 274px;
        padding-bottom: 207px;

        .title {
            color: #F0F8FF;
            font-size: 52px;
            font-weight: 500;
            line-height: 116%;
            letter-spacing: 2px;
            margin-bottom: 24px;

            span {
                font-weight: 700;
            }
        }

        .description {
            font-size: 20px;
            color: #F0F8FF;
            font-weight: 500;
            letter-spacing: 1px;
            max-width: 538px;
            margin-bottom: 38px;

            span {
                font-weight: 700;
            }
        }

        .button {
            width: 258px;
            border: 2px solid #F0F8FF;
            border-radius: 30px;
            padding: 14px 60px;
            color: #F0F8FF;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 1px;
            text-align: center;
            transition: all linear .15s;

            &:hover {
               background-color: #0184FE; 
               color: #F0F8FF;
            }
        }
       
    }

    @media (max-width: 1200px) {
        background-image: url('../img/bg-banner-mobile.png'), linear-gradient(to bottom, #477AD8 0%, #3A62AA 30%, #0F0F14 100%);
        background-repeat: no-repeat;
        background-position: bottom 0 left 0, top 0 left 0;

        .wrapper {
            padding-top: 134px;
            padding-bottom: 442px;
            padding-left: 21px;
            padding-right: 21px;
            margin-left: 0;

            .title {
                text-align: center;
                font-size: 30px;
            }

            .description {
                text-align: center;
                font-size: 16px;
                padding-left: 18px;
                padding-right: 17px;
                margin-bottom: 32px;
            }

            .button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}