//out: false

.page__header {
    position: absolute;
    z-index: 3000;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;

    .wrapper {
        padding: 16px 20px;
        background-color: #242423;
        margin-left: 20px;
        margin-right: 20px;

        .logo { 
            width: 119px;

            a {
                width: 100%;

                img {
                    width: 100%;
                }
            }       
        }

        .is--desktop {
            display: none;
        }

        .is--mobile {
            flex-grow: 0;
            
            .navbar__hamburguer {
                display: flex;
                justify-content: flex-end;
                width: fit-content;            
            }

            .navbar__overlay {
                background-color: #242423; 
                z-index: 3001;
                display: none;
                .animation__fade_in_right();
            
                &.open {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: fixed;                                
                    top: 0;
                    right: 0;                
                    overflow: hidden !important;
                    transition: all linear 0.5s;
            
                    .overlay__content {                    
                        overflow-y: auto !important;
                        height: 90%;

                        .overlay__header {
                            display: flex;
                            align-items: flex-end;
                            margin: 30px 30px 109px 30px; 

                            .overlay__close {
                                width: fit-content;
                            }
                        }

                        .overlay__menu {
                            margin: 0;
                            
                            .overlay__links {
                                gap: 10px;
                                
                                a {
                                    font-size: 16px;
                                    font-weight: 500;
                                    text-align: center;                             
                                    color: #F5F5F5;
                                }
                            }

                            .overlay__social {
                                display: flex;
                                gap: 20px;
                                align-items: center;
                                margin-top: 80px;                               
                            }

                            .btn__whats {
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                border: 1px solid #F5F5F5;
                                font: 400 16px @fontR;
                                color: #F5F5F5;
                                line-height: 116%;
                                letter-spacing: 3.6px;
                                padding: 12px 34px;
                                transition: all linear .15s;
                                margin-top: 32px;
            
                                .icon {
                                    width: fit-content;
                                }
            
                                &:hover {
                                   background-color: rgba(245, 245, 245, 10%);
                                   color: #F5F5F5;
                                }
                            }
                        }
                    }
                } 
            }
        }  
    }  

    @media screen and (min-width: 1200px) {
        padding-top: 24px;

        .wrapper {
            max-width: 1215px;
            padding: 18px 36px;
            margin-left: auto;
            margin-right: auto;
            
            .logo { 
                width: 161px;
            }

            .is--desktop {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 736px;

                .links {
                    display: flex;
                    gap: 30px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        transition: all linear .15s;
                        color: #F5F5F5;

                        &:hover {                            
                            cursor: pointer; 
                            color: #F1991D;
                        }
                    }
                }

                .btn__whats {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border: 1px solid #F5F5F5;
                    font: 400 16px @fontR;
                    color: #F5F5F5;
                    line-height: 116%;
                    letter-spacing: 3.6px;
                    padding: 12px 34px;
                    transition: all linear .15s;

                    .icon {
                        width: fit-content;
                    }

                    &:hover {
                       background-color: rgba(245, 245, 245, 10%);
                       color: #F5F5F5;
                    }
                }
            }

            .is--mobile {
                display: none;
            }
        }
    }
}