//out: false

.page__plans {
    padding-top: 90px;
    padding-bottom: 142px;
    background-image: url('../img/bg-plans.png');
    background-repeat: no-repeat;
    background-size: cover;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {  
            width: fit-content;          
            font-size: 52px;
            font-weight: 700;
            color: #FFF;
            margin-bottom: 8px;
            text-align: center;
            position: relative;

            .icon__title {
                position: absolute;
                top: -10px;
                right: -58px;
            }
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
            color: #FFF;
            text-align: center;
            margin-bottom: 71px;

            span {
               font-weight: 600; 
            }
        }

        .plans__cards {
            display: flex;
            justify-content: center;
            gap: 84px;

            .plan__card {
                position: relative;
                width: 328px;
                height: 674px;

                .card__title {
                    position: absolute;
                    width: 226px;
                    left: calc(50% - 113px);
                    top: 0;
                    background-image: linear-gradient(38deg, #131313 1%, #000 26%, #0184FE 100%);
                    border-radius: 20px;
                    padding-top: 8px;
                    padding-bottom: 7px;                    
                    z-index: 2;

                    h3 {
                        font-size: 24px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #F0F8FF;
                        text-align: center;
                    }
                }

                .card__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 60px 32px 48px 32px;
                    margin-top: 23px;
                    position: relative;
                    background: transparent;
                    border-radius: 20px;
                    text-align: center;
                    color: white;
                    z-index: 1; /* Mantém o conteúdo acima do fundo */
                    margin-bottom: 8px;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: -4px; /* Expande a borda para fora */
                        border-radius: 24px;
                        padding: 4px; /* Define a largura da borda */
                        background: linear-gradient(to bottom, #fff, #259dff2a); /* Gradiente da borda */
                        -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                        mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                        -webkit-mask-composite: destination-out;
                        mask-composite: exclude;
                        z-index: -1;
                    }

                    .price {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 24px;

                        .value {
                            display: flex;
                            gap: 4px;
                            font-family: "Russo One", sans-serif;
                            font-weight: 400;
                            color: #FFF;

                            .coin {
                                align-self: flex-start;                                
                                font-size: 14px;
                            }

                            .number {
                               font-size: 96px; 
                               line-height: 75%;
                            }

                            .cents {
                                font-size: 16px;
                                align-self: flex-end;
                            }
                        }

                        .info {
                            font-family: "Russo One", sans-serif;
                            font-weight: 400;
                            text-align: center;
                            font-size: 16px;
                        }
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .item {
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                            font-size: 14px;
                            color: #FFF;
                            font-weight: 400;
                            text-align: left;

                            .icon {
                                margin-top: 1px;
                            }
                        }
                    }
                }

                .description {
                    display: block;
                    background-color: #131313;
                    border-radius: 20px;
                    padding: 12px 14px 12px 14px;
                    font-size: 24px;
                    font-weight: 600;
                    color: #FFF;
                    line-height: 132%;
                    text-align: center;

                    &.last {
                        font-size: 22px;
                    }
                }

                &.highlight {
                    .card__title {
                        background: #F0F8FF;

                        h3 {
                            background-image: linear-gradient(to right, #131313 1%, #000 16%, #0184FE 100%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;                            
                        }
                    }

                    .card__content {
                        background-color: #131313;
                    }
                }
                          
            }
        }
    }

    @media (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;

        .wrapper {            
            .title {
                font-size: 42px;

                .icon__title {
                    width: 32px;
                    top: -10px;
                    right: -36px;
                }
            }

            .subtitle {
                padding-left: 32px;
                padding-right: 32px;
            }

            .plans__cards {
                flex-direction: column;
                align-items: center;
                gap: 42px;
            }
        }
    }
}