//out: false

.page__projects {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #EAE4DB;

    .wrapper {
        max-width: 906px;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'head head button'
            'video video video';
            gap: 72px;
        
        .heading {
            grid-area: head;

            .title__detail {
                margin-bottom: 8px;
            }
            .title {
                font: 400 16px @fontR;
                line-height: 127%;
                letter-spacing: 2.2px;
                margin-bottom: 12px;
                color: #FF9500;
                text-transform: uppercase;
            }

            .subtitle {
                font: 400 64px @fontB;
                color: #242423;
                line-height: 94%;
                letter-spacing: -1.3px;
            }     
        }

        .button {
            grid-area: button;
            background-color: #242423;
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 13px 36px;
            border-radius: 5px;
            font: 400 16px @fontR;
            color: #F5F5F5;
            line-height: 116%;
            letter-spacing: 0.8px;
            transition: all linear .15s;
            width: fit-content;
            height: fit-content;
            margin-left: auto;
            align-self: self-end;
            margin-bottom: 14px;

            &:hover {                
                color: #F1991D;
            }
        }

        .links {
            grid-area: video;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 72px;

            .card__video {
                position: relative;
                border-radius: 5px;
                width: 237px;
                height: 313px;
                overflow: hidden;

                .cover {
                    width: 100%;
                    object-fit: cover;
                    transition: all linear .25s;
                }

                .caption {
                    position: absolute;
                    top: 70px;
                    left: calc(50% - 95px);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 32px;
                    width: 190px;

                    .title {
                        font: 400 36px @fontB;
                        color: #F5F5F5;
                        text-align: center;
                    }

                    .icon {
                        width: fit-content;
                    }
                }

                &:hover {
                    .cover {
                        transform: scale(1.2);
                    }

                    .caption {
                        .icon {
                            filter: brightness(0) saturate(100%) invert(68%) sepia(30%) saturate(1211%) hue-rotate(346deg) brightness(94%) contrast(101%);
                        }
                        
                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;

        .wrapper {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'head'
            'video'
            'button';
            gap: 42px;

            .heading {
                padding-left: 32px;
            }

            .links {
                flex-direction: column;
                align-items: center;
                gap: 42px;
            }

            .button {
                margin-right: auto;
            }
        }
    }
}