//out: false

.page__services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../img/bg-services.png');
    background-position: center;
    background-repeat: no-repeat;

    .wrapper {

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            color: #020307;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
            color: #020307;
            line-height: 26px;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 35px;
            text-align: center;
        }

        .cards--desktop {
            display: none;
        }

        .owl-carousel.owl-theme.services__carousel {
            .owl-dots-square();

            .card__service {
                margin-top: 12px;
                margin-bottom: 30px;
                height: 325px;
                border-radius: 10px;
                background-color: white;
                border: 1px solid #D9D9D9;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 4px 10px 20px rgba(0, 0, 0, 25%);
                position: relative;
                text-align: center;
                padding: 30px 26px 78px 26px;
                transition: all linear .15s;

                .icon__service {
                    width: fit-content;
                    margin-bottom: 14px;
                }

                .card__title {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                .card__text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                }

                .card__btn {
                    color: white;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 15px 30px;
                    text-align: center;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: #0075E1;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }

                &:hover {
                    cursor: pointer;
                    transform: translateX(-10px);
                    transform: translateY(-10px);
                    box-shadow: 10px 10px 0px #020307;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 120px;

        .wrapper {
            max-width: 1190px;
            padding-left: 24px;
            padding-right: 24px;
            margin-left: auto;
            margin-right: auto;

            .title {
               font-size: 42px;
            }

            .subtitle {
                font-size: 22px;
                width: 509px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 65px;
            }

            .cards--mobile {
                display: none;
            }

            .cards--desktop {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                justify-content: center;

                .card__service {
                    height: 325px;
                    width: 348px;
                    border-radius: 10px;
                    background-color: white;
                    border: 1px solid #D9D9D9;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 4px 10px 20px rgba(0, 0, 0, 25%);
                    position: relative;
                    text-align: center;
                    padding: 30px 26px 78px 26px;
                    transition: all linear .15s;
    
                    .icon__service {
                        width: fit-content;
                        margin-bottom: 14px;
                    }
    
                    .card__title {
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }
    
                    .card__text {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                    }
    
                    .card__btn {
                        color: white;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 700;
                        padding: 15px 30px;
                        text-align: center;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background-color: #0075E1;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
    
                    &:hover {
                        cursor: pointer;
                        transform: translateX(-10px);
                        transform: translateY(-10px);
                        box-shadow: 10px 10px 0px #020307;
                    }
                }
            }
        }
    }

}